# <center>X Education - Lead Prediction</center>

## Problem Stetment

### Load Libraries & Data

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib.pyplot import plot

In [3]:
pd.set_option('display.max_column', 100)

In [487]:
leadsDF = pd.read_csv("Leads.csv")
leadsDF.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

## Data Cleaning

In [429]:
leadsDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
Prospect ID                                      9240 non-null object
Lead Number                                      9240 non-null int64
Lead Origin                                      9240 non-null object
Lead Source                                      9204 non-null object
Do Not Email                                     9240 non-null object
Do Not Call                                      9240 non-null object
Converted                                        9240 non-null int64
TotalVisits                                      9103 non-null float64
Total Time Spent on Website                      9240 non-null int64
Page Views Per Visit                             9103 non-null float64
Last Activity                                    9137 non-null object
Country                                          6779 non-null object
Specialization                                   7802 non-null object
How did you hear about X Education               7033 non-null object
What is your current occupation                  6550 non-null object
What matters most to you in choosing a course    6531 non-null object
Search                                           9240 non-null object
Magazine                                         9240 non-null object
Newspaper Article                                9240 non-null object
X Education Forums                               9240 non-null object
Newspaper                                        9240 non-null object
Digital Advertisement                            9240 non-null object
Through Recommendations                          9240 non-null object
Receive More Updates About Our Courses           9240 non-null object
Tags                                             5887 non-null object
Lead Quality                                     4473 non-null object
Update me on Supply Chain Content                9240 non-null object
Get updates on DM Content                        9240 non-null object
Lead Profile                                     6531 non-null object
City                                             7820 non-null object
Asymmetrique Activity Index                      5022 non-null object
Asymmetrique Profile Index                       5022 non-null object
Asymmetrique Activity Score                      5022 non-null float64
Asymmetrique Profile Score                       5022 non-null float64
I agree to pay the amount through cheque         9240 non-null object
A free copy of Mastering The Interview           9240 non-null object
Last Notable Activity                            9240 non-null object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [430]:
leadsDF.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [431]:
leadsDF.drop(columns=leadsDF.describe().columns).describe()

,Prospect ID,Lead Origin,Lead Source,Do Not Email,Do Not Call,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
count,9240,9240,9204,9240,9240,9137,6779,7802,7033,6550,6531,9240,9240,9240,9240,9240,9240,9240,9240,5887,4473,9240,9240,6531,7820,5022,5022,9240,9240,9240
unique,9240,5,21,2,2,17,38,19,10,6,3,2,1,2,2,2,2,2,1,26,5,1,1,6,7,3,3,1,2,16
top,15896120-0327-434b-ae06-e022271a47d6,Landing Page Submission,Google,No,No,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,02.Medium,No,No,Modified
freq,1,4886,2868,8506,9238,3437,6492,1942,5043,5600,6528,9226,9240,9238,9239,9239,9236,9233,9240,2072,1560,9240,9240,4146,3222,3839,2788,9240,6352,3407

In [432]:
#Data imbalance check on Target Veriable 
leadsDF['Converted'].value_counts() / leadsDF.index.size

0    0.61461
1    0.38539
Name: Converted, dtype: float64

In [433]:
#Check for "Select" as value in specified column, if found replace with 'None'
leadsDF = leadsDF.applymap(lambda v : None if str(v).lower() == "select" else v)

In [434]:
#Print Missing value count and Percent of data missing
#Create data frame which have rows for each category of that column.
#Calculate each value count for each category and contribution of that category towards lead conversion.
def GetValueCount_ConvertionRatio(colName):
    tempDF = leadsDF[[colName, 'Converted']].copy()
    
    print("Missing Data Count:", tempDF[colName].isnull().sum(), "(" ,round(tempDF[colName].isnull().sum() / tempDF.index.size * 100, 2),"%)")

    # Temporarily replace NaN/None value with placeholder "NAN", so we can include in valu count & group by 
    tempDF = tempDF[[colName, 'Converted']].fillna('NAN')
   
    # Including NaN value count
    valCountSer = tempDF[colName].value_counts() 
    df = pd.DataFrame(data=valCountSer)

    df = df.merge(tempDF.groupby(by=colName, observed=False ).sum()[['Converted']], left_index=True, right_index=True)
    
    df[colName + ' %'] = round(df[colName] / df[colName].sum() * 100, 2)
    df['Conversion %'] = round(df['Converted'] / df['Converted'].sum() * 100, 2)
   
    return df
    #return df.sort_values(by=colName, ascending=False)

In [435]:
#Missing Data Percent
(leadsDF.isnull().sum() / leadsDF.index.size * 100) [leadsDF.isnull().sum() / leadsDF.index.size * 100 > 0]

Lead Source                                       0.389610
TotalVisits                                       1.482684
Page Views Per Visit                              1.482684
Last Activity                                     1.114719
Country                                          26.634199
Specialization                                   36.580087
How did you hear about X Education               78.463203
What is your current occupation                  29.112554
What matters most to you in choosing a course    29.318182
Tags                                             36.287879
Lead Quality                                     51.590909
Lead Profile                                     74.188312
City                                             39.707792
Asymmetrique Activity Index                      45.649351
Asymmetrique Profile Index                       45.649351
Asymmetrique Activity Score                      45.649351
Asymmetrique Profile Score                       45.649351
dtype: float64

In [436]:
#Dropping Columns with More than 70 % Missing values
colsToBeRemove = ['Lead Profile','How did you hear about X Education']

In [437]:
GetValueCount_ConvertionRatio('Lead Quality')

Missing Data Count: 4767 ( 51.59 %)

                   Lead Quality  Converted  Lead Quality %  Conversion %
NAN                        4767       1024           51.59         28.76
Might be                   1560       1179           16.88         33.11
Not Sure                   1092        266           11.82          7.47
High in Relevance           637        603            6.89         16.93
Worst                       601         12            6.50          0.34
Low in Relevance            583        477            6.31         13.40

In [438]:
GetValueCount_ConvertionRatio('Asymmetrique Profile Index')

Missing Data Count: 4218 ( 45.65 %)

,Asymmetrique Profile Index,Converted,Asymmetrique Profile Index %,Conversion %
NAN,4218,1653,45.65,46.42
02.Medium,2788,848,30.17,23.81
01.High,2203,1045,23.84,29.35
03.Low,31,15,0.34,0.42

**Lead Quality, Asymmetrique Activity Index, Asymmetrique Profile Index, Asymmetrique Activity Score, Asymmetrique Profile Score** thse feature varibale having 46% - 52% of missing values.<BR>
Conversion percent of missing data is approx 50%, so if we drop rows then we missed or positive cases.<BR>
Hence we are not dropping apporx 50% row/observation, so will drop thses columns, which will definatly not contribute towards model buildeing beacuse of missing data.

In [439]:
colsToBeRemove.extend(['Lead Quality', 'Asymmetrique Activity Index', 'Asymmetrique Profile Index', 'Asymmetrique Activity Score', 'Asymmetrique Profile Score'])

In [440]:
GetValueCount_ConvertionRatio('Country')

Missing Data Count: 2461 ( 26.63 %)

                      Country  Converted  Country %  Conversion %
India                    6492       2401      70.26         67.42
NAN                      2461       1076      26.63         30.22
United States              69         18       0.75          0.51
United Arab Emirates       53         20       0.57          0.56
Singapore                  24         11       0.26          0.31
Saudi Arabia               21          4       0.23          0.11
United Kingdom             15          5       0.16          0.14
Australia                  13          3       0.14          0.08
Qatar                      10          1       0.11          0.03
Hong Kong                   7          4       0.08          0.11
Bahrain                     7          4       0.08          0.11
France                      6          3       0.06          0.08
Oman                        6          3       0.06          0.08
unknown                     5          1       0.05          0.03
Canada                      4          0       0.04          0.00
Nigeria                     4          0       0.04          0.00
Kuwait                      4          0       0.04          0.00
Germany                     4          1       0.04          0.03
South Africa                4          1       0.04          0.03
Sweden                      3          1       0.03          0.03
Uganda                      2          0       0.02          0.00
Asia/Pacific Region         2          1       0.02          0.03
Philippines                 2          0       0.02          0.00
Netherlands                 2          1       0.02          0.03
China                       2          0       0.02          0.00
Ghana                       2          0       0.02          0.00
Belgium                     2          0       0.02          0.00
Italy                       2          0       0.02          0.00
Bangladesh                  2          1       0.02          0.03
Switzerland                 1          0       0.01          0.00
Sri Lanka                   1          0       0.01          0.00
Liberia                     1          0       0.01          0.00
Tanzania                    1          0       0.01          0.00
Vietnam                     1          0       0.01          0.00
Denmark                     1          1       0.01          0.03
Kenya                       1          0       0.01          0.00
Indonesia                   1          0       0.01          0.00
Russia                      1          0       0.01          0.00
Malaysia                    1          0       0.01          0.00

In [441]:
GetValueCount_ConvertionRatio('City')

Missing Data Count: 3669 ( 39.71 %)

                             City  Converted  City %  Conversion %
NAN                          3669       1257   39.71         35.30
Mumbai                       3222       1309   34.87         36.76
Thane & Outskirts             752        338    8.14          9.49
Other Cities                  686        276    7.42          7.75
Other Cities of Maharashtra   457        201    4.95          5.64
Other Metro Cities            380        155    4.11          4.35
Tier II Cities                 74         25    0.80          0.70

**Country** data is missing for **27%** of observations and **40%** is missing for **City**.<BR>
Most of the Cities are from India, so using City data we can impute country.<BR>
Lets analyze County & City data together

In [442]:
leadsDF[(~leadsDF['City'].isnull()) & (~leadsDF['Country'].isnull()) & (leadsDF['Country'] != 'India')][['Country','City']]

                   Country                         City
87                  Kuwait                       Mumbai
103                   Oman                       Mumbai
243          United States                       Mumbai
356                Bahrain                 Other Cities
411          United States           Other Metro Cities
419              Singapore           Other Metro Cities
425         United Kingdom                       Mumbai
433                  Qatar                 Other Cities
445              Australia                       Mumbai
483                  Ghana                 Other Cities
502              Singapore            Thane & Outskirts
517          United States            Thane & Outskirts
632           Saudi Arabia                 Other Cities
676         United Kingdom  Other Cities of Maharashtra
693          United States                       Mumbai
794   United Arab Emirates                       Mumbai
971           Saudi Arabia                       Mumbai
980                Belgium            Thane & Outskirts
1000  United Arab Emirates  Other Cities of Maharashtra
1018  United Arab Emirates                 Other Cities
1041                France  Other Cities of Maharashtra
1083                Kuwait                       Mumbai
1112                 Qatar            Thane & Outskirts
1161  United Arab Emirates                 Other Cities
1171          Saudi Arabia                 Other Cities
1180                France           Other Metro Cities
1193         United States                 Other Cities
1220                 China                       Mumbai
1338          Saudi Arabia                       Mumbai
1339               Bahrain                 Other Cities
...                    ...                          ...
8471         United States                 Other Cities
8478             Indonesia  Other Cities of Maharashtra
8531             Australia            Thane & Outskirts
8573         United States                       Mumbai
8619  United Arab Emirates            Thane & Outskirts
8693         United States                       Mumbai
8728         United States                       Mumbai
8780               Germany  Other Cities of Maharashtra
8790         United States                       Mumbai
8801             Hong Kong                       Mumbai
8805         United States                       Mumbai
8814          South Africa                 Other Cities
8842         United States                       Mumbai
8902         United States                       Mumbai
8937               Nigeria                 Other Cities
8938         United States                 Other Cities
8942  United Arab Emirates                 Other Cities
8955             Singapore                 Other Cities
8967             Australia                 Other Cities
8980             Singapore                 Other Cities
9011         United States                       Mumbai
9012         United States  Other Cities of Maharashtra
9049             Australia                       Mumbai
9061             Australia                       Mumbai
9107         United States  Other Cities of Maharashtra
9130             Australia            Thane & Outskirts
9139         United States                       Mumbai
9225          Saudi Arabia                       Mumbai
9235          Saudi Arabia                       Mumbai
9239            Bangladesh                 Other Cities

[227 rows x 2 columns]

Looks like **City** data is not reliable as same city **"Mumbai"** is linked against multiple countries.<BR>
So will drop City Column.

In [443]:
colsToBeRemove.extend(['City'])

In [444]:
GetValueCount_ConvertionRatio('What is your current occupation')

Missing Data Count: 2690 ( 29.11 %)

,What is your current occupation,Converted,What is your current occupation %,Conversion %
Unemployed,5600,2441,60.61,68.55
NAN,2690,370,29.11,10.39
Working Professional,706,647,7.64,18.17
Student,210,78,2.27,2.19
Other,16,10,0.17,0.28
Housewife,10,10,0.11,0.28
Businessman,8,5,0.09,0.14

In [445]:
GetValueCount_ConvertionRatio('What matters most to you in choosing a course')

Missing Data Count: 2709 ( 29.32 %)

,What matters most to you in choosing a course,Converted,What matters most to you in choosing a course %,Conversion %
Better Career Prospects,6528,3190,70.65,89.58
NAN,2709,370,29.32,10.39
Flexibility & Convenience,2,1,0.02,0.03
Other,1,0,0.01,0.00

There **29%** of missing value in feature variable **What matters most to you in choosing a course**.<BR>
If we try to impute missing value here using Mod, then value would be **Better Career Prospects** and If we remove missing value observations then also **Better Career Prospects** category holds most of the data **(71%)**.<BR>
It means this feature will not help in model building, so we can drop this column.<BR>

Similar kind of trend in **What is your current occupation** & **Country** feature variable.

In [446]:
colsToBeRemove.extend(['Country', 'What is your current occupation', 'What matters most to you in choosing a course'])

In [473]:
GetValueCount_ConvertionRatio('Specialization')

Missing Data Count: 3380 ( 36.58 %)

,Specialization,Converted,Specialization %,Conversion %
NAN,3380,969,36.58,27.21
Finance Management,976,436,10.56,12.24
Human Resource Management,848,388,9.18,10.90
Marketing Management,838,408,9.07,11.46
Operations Management,503,238,5.44,6.68
Business Administration,403,179,4.36,5.03
IT Projects Management,366,140,3.96,3.93
Supply Chain Management,349,151,3.78,4.24
"Banking, Investment And Insurance",338,167,3.66,4.69
Travel and Tourism,203,72,2.20,2.02
Media and Advertising,203,85,2.20,2.39
International Business,178,64,1.93,1.80
Healthcare Management,159,79,1.72,2.22
Hospitality Management,114,48,1.23,1.35
E-COMMERCE,112,40,1.21,1.12
Retail Management,100,34,1.08,0.95
Rural and Agribusiness,73,31,0.79,0.87
E-Business,57,21,0.62,0.59
Services Excellence,40,11,0.43,0.31

In [474]:
GetValueCount_ConvertionRatio('Tags')

Missing Data Count: 3353 ( 36.29 %)

,Tags,Converted,Tags %,Conversion %
NAN,3353,836,36.29,23.48
Will revert after reading the email,2072,2007,22.42,56.36
Ringing,1203,34,13.02,0.95
Interested in other courses,513,13,5.55,0.37
Already a student,465,3,5.03,0.08
Closed by Horizzon,358,356,3.87,10.00
switched off,240,4,2.60,0.11
Busy,186,105,2.01,2.95
Lost to EINS,175,171,1.89,4.80
Not doing further education,145,1,1.57,0.03
Interested in full time MBA,117,3,1.27,0.08
Graduation in progress,111,7,1.20,0.20
invalid number,83,1,0.90,0.03
Diploma holder (Not Eligible),63,1,0.68,0.03
wrong number given,47,0,0.51,0.00
opp hangup,33,3,0.36,0.08
number not provided,27,0,0.29,0.00
in touch with EINS,12,3,0.13,0.08
Lost to Others,7,0,0.08,0.00
Want to take admission but has financial problems,6,2,0.06,0.06
Still Thinking,6,1,0.06,0.03
In confusion whether part time or DLP,5,1,0.05,0.03
Interested in Next batch,5,5,0.05,0.14
Lateral student,3,3,0.03,0.08
University not recognized,2,0,0.02,0.00
Shall take in the next coming month,2,1,0.02,0.03
Recognition issue (DEC approval),1,0,0.01,0.00

Here is some confusion between, dropping Column or Dropping Rows for **Specialization** & **Tags** variable.

In [475]:
#Check total no of rows with missing value in either 'Specialization' or 'Tags' 
leadsDF[(leadsDF['Specialization'].isnull()) | (leadsDF['Tags'].isnull())].shape

(4805, 37)

Dropping rows might not be good idea, as we losse more than 50% of data, So will drop both the columns.

In [476]:
colsToBeRemove.extend(['Specialization', 'Tags'])

In [488]:
leadsDF_BefColDrop = leadsDF.copy()
leadsDF.drop(labels=colsToBeRemove, inplace=True, axis=1)

In [489]:
(leadsDF.isnull().sum() / leadsDF.index.size*100) [leadsDF.isnull().sum() / leadsDF.index.size > 0]

Lead Source             0.389610
TotalVisits             1.482684
Page Views Per Visit    1.482684
Last Activity           1.114719
dtype: float64

In [494]:
#Drop rows with any missing value
leadsDF.dropna(inplace=True)
leadsDF.isnull().sum() / leadsDF.index.size*100

Prospect ID                                 0.0
Lead Number                                 0.0
Lead Origin                                 0.0
Lead Source                                 0.0
Do Not Email                                0.0
Do Not Call                                 0.0
Converted                                   0.0
TotalVisits                                 0.0
Total Time Spent on Website                 0.0
Page Views Per Visit                        0.0
Last Activity                               0.0
Search                                      0.0
Magazine                                    0.0
Newspaper Article                           0.0
X Education Forums                          0.0
Newspaper                                   0.0
Digital Advertisement                       0.0
Through Recommendations                     0.0
Receive More Updates About Our Courses      0.0
Update me on Supply Chain Content           0.0
Get updates on DM Content                   0.0
I agree to pay the amount through cheque    0.0
A free copy of Mastering The Interview      0.0
Last Notable Activity                       0.0
dtype: float64

In [495]:
print("Data Before Cleanup : ", leadsDF_BefColDrop.shape)
print("Data After Cleanup : ", leadsDF.shape)

Data Before Cleanup :  (9240, 37)
Data After Cleanup :  (9074, 24)

In [498]:
#Duplicate Data Check
leadsDF[leadsDF.duplicated()]

Empty DataFrame
Columns: [Prospect ID, Lead Number, Lead Origin, Lead Source, Do Not Email, Do Not Call, Converted, TotalVisits, Total Time Spent on Website, Page Views Per Visit, Last Activity, Search, Magazine, Newspaper Article, X Education Forums, Newspaper, Digital Advertisement, Through Recommendations, Receive More Updates About Our Courses, Update me on Supply Chain Content, Get updates on DM Content, I agree to pay the amount through cheque, A free copy of Mastering The Interview, Last Notable Activity]
Index: []

In [503]:
leadsDF[leadsDF['Lead Number'].duplicated()]

Empty DataFrame
Columns: [Prospect ID, Lead Number, Lead Origin, Lead Source, Do Not Email, Do Not Call, Converted, TotalVisits, Total Time Spent on Website, Page Views Per Visit, Last Activity, Search, Magazine, Newspaper Article, X Education Forums, Newspaper, Digital Advertisement, Through Recommendations, Receive More Updates About Our Courses, Update me on Supply Chain Content, Get updates on DM Content, I agree to pay the amount through cheque, A free copy of Mastering The Interview, Last Notable Activity]
Index: []

In [501]:
leadsDF.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Update me on Supply Chain Content,Get updates on DM Content,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,No,No,No,No,No,No,No,No,No,No,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,No,No,No,No,No,No,No,No,No,No,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,No,No,No,No,No,No,No,No,No,No,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,No,No,No,No,No,No,No,No,No,No,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,No,No,No,No,No,No,No,No,No,No,No,No,Modified

In [499]:
leadsDF.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit
count,9074.000000,9074.000000,9074.000000,9074.000000,9074.000000
mean,617032.619352,0.378554,3.456028,482.887481,2.370151
std,23348.029512,0.485053,4.858802,545.256560,2.160871
min,579533.000000,0.000000,0.000000,0.000000,0.000000
25%,596406.000000,0.000000,1.000000,11.000000,1.000000
50%,615278.500000,0.000000,3.000000,246.000000,2.000000
75%,637176.500000,1.000000,5.000000,922.750000,3.200000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000

In [500]:
leadsDF.drop(labels=leadsDF.describe().columns, axis=1).describe()

,Prospect ID,Lead Origin,Lead Source,Do Not Email,Do Not Call,Last Activity,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Update me on Supply Chain Content,Get updates on DM Content,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
count,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074,9074
unique,9074,4,21,2,2,17,2,1,2,2,2,2,2,1,1,1,1,2,16
top,15896120-0327-434b-ae06-e022271a47d6,Landing Page Submission,Google,No,No,Email Opened,No,No,No,No,No,No,No,No,No,No,No,No,Modified
freq,1,4885,2868,8358,9072,3432,9060,9074,9072,9073,9073,9070,9067,9074,9074,9074,9074,6186,3267

### Derive Variable

In [505]:
GetValueCount_ConvertionRatio('Lead Source')

Missing Data Count: 0 ( 0.0 %)

                   Lead Source  Converted  Lead Source %  Conversion %
Google                    2868       1147          31.61         33.39
Direct Traffic            2543        818          28.03         23.81
Olark Chat                1753        448          19.32         13.04
Organic Search            1154        436          12.72         12.69
Reference                  443        410           4.88         11.94
Welingak Website           129        127           1.42          3.70
Referral Sites             125         31           1.38          0.90
Facebook                    31          9           0.34          0.26
bing                         6          1           0.07          0.03
google                       5          0           0.06          0.00
Click2call                   4          3           0.04          0.09
Live Chat                    2          2           0.02          0.06
Press_Release                2          0           0.02          0.00
Social Media                 2          1           0.02          0.03
welearnblog_Home             1          0           0.01          0.00
testone                      1          0           0.01          0.00
Pay per Click Ads            1          0           0.01          0.00
youtubechannel               1          0           0.01          0.00
blog                         1          0           0.01          0.00
WeLearn                      1          1           0.01          0.03
NC_EDM                       1          1           0.01          0.03

Almost 80% data explained by top 4 lead score **Google, Direct Traffic, Olark Chat, Organic Search**.<BR>
Will create new categoty called **Other** and assign this category to remaning 20% rows.

In [509]:
leadsDF['Lead Source'] = leadsDF['Lead Source'].apply (lambda v : v if v in (['Google', 'Direct Traffic', 'Olark Chat', 'Organic Search']) else 'Other')

In [510]:
GetValueCount_ConvertionRatio('Lead Source')

Missing Data Count: 0 ( 0.0 %)

                Lead Source  Converted  Lead Source %  Conversion %
Google                 2868       1147          31.61         33.39
Direct Traffic         2543        818          28.03         23.81
Olark Chat             1753        448          19.32         13.04
Organic Search         1154        436          12.72         12.69
Other                   756        586           8.33         17.06

In [ ]:
Google 	2868 	1147 	31.61 	33.39
Direct Traffic 	2543 	818 	28.03 	23.81
Olark Chat 	1753 	448 	19.32 	13.04
Organic Search 	1154 	436 	12.72 	12.69