# <center>Garmener Case Study</center>
## <center>Risk Analytics In Banking & Financial Services</center>

### Goal
#### Identify  loan defaulter driving factor to manage risk.

<ul>
<li>Load and Cleanup Data</li>
<li>Analyze Data</li>
<li>Identify Defaulter Data Pattern using Univariant or Bivariant analysis</li>
<li>Pin point Driving Factor behind loan defaulter</li>
</ul>

**Load Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Load Customer Loan Profile Data**

In [2]:
dfCust = pd.read_csv('DataSet/loan.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.set_option('display.max.column',111)

In [4]:
dfCust.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
missingValue = dfCust.isnull().sum() / dfCust.index.size * 100

In [6]:
print('100 % Missing Data Count : ', missingValue[missingValue == 100].size)
print('More than 20 % Missing Data Count : ', missingValue[missingValue >= 20].size)

100 % Missing Data Count :  54
More than 20 % Missing Data Count :  58

In [7]:
missingValue[missingValue >= 20]

desc                               32.580507
mths_since_last_delinq             64.662487
mths_since_last_record             92.985372
next_pymnt_d                       97.129693
mths_since_last_major_derog       100.000000
annual_inc_joint                  100.000000
dti_joint                         100.000000
verification_status_joint         100.000000
tot_coll_amt                      100.000000
tot_cur_bal                       100.000000
open_acc_6m                       100.000000
open_il_6m                        100.000000
open_il_12m                       100.000000
open_il_24m                       100.000000
mths_since_rcnt_il                100.000000
total_bal_il                      100.000000
il_util                           100.000000
open_rv_12m                       100.000000
open_rv_24m                       100.000000
max_bal_bc                        100.000000
all_util                          100.000000
total_rev_hi_lim                  100.000000
inq_fi                            100.000000
total_cu_tl                       100.000000
inq_last_12m                      100.000000
acc_open_past_24mths              100.000000
avg_cur_bal                       100.000000
bc_open_to_buy                    100.000000
bc_util                           100.000000
mo_sin_old_il_acct                100.000000
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
dtype: float64

Will drop column having more than 20% of missing data.<BR>
Analyze other column and take decision of usefullness of column.

In [8]:
dfCust.drop(columns= missingValue[missingValue>= 20].index, inplace=True)

In [9]:
dfCust.shape

(39717, 53)

In [10]:
missingValue = dfCust.isnull().sum() / dfCust.index.size * 100

In [13]:
print('More than 20 % Missing Data Count : ', missingValue[missingValue >= 20].size)

More than 20 % Missing Data Count :  0

In [12]:
missingValue

id                            0.000000
member_id                     0.000000
loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_title                     6.191303
emp_length                    2.706650
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_d                       0.000000
loan_status                   0.000000
pymnt_plan                    0.000000
url                           0.000000
purpose                       0.000000
title                         0.027696
zip_code                      0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
open_acc                      0.000000
pub_rec                       0.000000
revol_bal                     0.000000
revol_util                    0.125891
total_acc                     0.000000
initial_list_status           0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_d                  0.178765
last_pymnt_amnt               0.000000
last_credit_pull_d            0.005036
collections_12_mths_ex_med    0.140998
policy_code                   0.000000
application_type              0.000000
acc_now_delinq                0.000000
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
dtype: float64

In [16]:
missingRowValue = dfCust.isnull().sum(axis=1) / dfCust.columns.size* 100

In [21]:
missingRowValue [missingRowValue > 9]

39659    9.433962
39660    9.433962
39700    9.433962
39704    9.433962
39706    9.433962
39714    9.433962
39715    9.433962
dtype: float64

In [29]:
dfCust.iloc[missingRowValue [missingRowValue > 9].index]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
39659,121568,121574,4000,4000,1925.0,36 months,9.64%,128.41,B,B4,NaN,< 1 year,NONE,100000.0,Not Verified,Aug-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Refinancing high interest loan,950xx,CA,15.00,0,May-99,1,6,0,8155,14.90%,8,f,0.0,0.0,4622.489229,2224.58,4000.0,622.49,0.0,0.0,0.0,Sep-10,129.76,Aug-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39660,121535,121373,2800,2800,1625.0,36 months,8.70%,88.65,B,B1,NaN,< 1 year,NONE,120000.0,Not Verified,Aug-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,Baby is coming,024xx,MA,15.00,0,May-99,1,6,0,8155,14.90%,8,f,0.0,0.0,3191.218575,1852.05,2800.0,391.22,0.0,0.0,0.0,Sep-10,89.80,Aug-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39700,98276,98268,5400,5400,200.0,36 months,7.75%,168.60,A,A3,NaN,< 1 year,RENT,8000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,educational,Help with college expenses,306xx,GA,3.00,0,Mar-89,0,4,0,1321,16.50%,4,f,0.0,0.0,6069.341452,224.80,5400.0,669.34,0.0,0.0,0.0,Jul-10,169.09,Dec-13,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39704,93277,93254,3000,3000,950.0,36 months,8.70%,94.98,B,B1,NaN,< 1 year,MORTGAGE,25000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Home Based Bakery,017xx,MA,14.54,0,Sep-00,1,10,0,3660,7.80%,13,f,0.0,0.0,3419.144850,1082.73,3000.0,419.14,0.0,0.0,0.0,Jul-10,97.45,Jul-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39706,92676,92671,5000,5000,150.0,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,180000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,remodelin my kitchen,530xx,WI,5.55,0,Jun-96,0,12,0,40934,26.30%,39,f,0.0,0.0,5645.957239,169.38,5000.0,645.96,0.0,0.0,0.0,Jul-10,157.31,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39714,90395,90390,5000,5000,1325.0,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,100000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,MBA Loan Consolidation,017xx,MA,2.30,0,Oct-98,0,11,0,9698,19.40%,20,f,0.0,0.0,5272.161128,1397.12,5000.0,272.16,0.0,0.0,0.0,Apr-08,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN
39715,90376,89243,5000,5000,650.0,36 months,7.43%,155.38,A,A2,NaN,< 1 year,MORTGAGE,200000.0,Not Verified,Jul-07,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,JAL Loan,208xx,MD,3.72,0,Nov-88,0,17,0,85607,0.70%,26,f,0.0,0.0,5174.198551,672.66,5000.0,174.20,0.0,0.0,0.0,Jan-08,0.00,Jun-07,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [45]:
print("Total avaliable rows : ", dfCust.shape[0])

Total avaliable rows :  39717

In [57]:
dfCust.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [59]:
dfCust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 53 columns):
id                            39717 non-null int64
member_id                     39717 non-null int64
loan_amnt                     39717 non-null int64
funded_amnt                   39717 non-null int64
funded_amnt_inv               39717 non-null float64
term                          39717 non-null object
int_rate                      39717 non-null object
installment                   39717 non-null float64
grade                         39717 non-null object
sub_grade                     39717 non-null object
emp_title                     37258 non-null object
emp_length                    38642 non-null object
home_ownership                39717 non-null object
annual_inc                    39717 non-null float64
verification_status           39717 non-null object
issue_d                       39717 non-null object
loan_status                   39717 non-null object
pymnt_plan                    39717 non-null object
url                           39717 non-null object
purpose                       39717 non-null object
title                         39706 non-null object
zip_code                      39717 non-null object
addr_state                    39717 non-null object
dti                           39717 non-null float64
delinq_2yrs                   39717 non-null int64
earliest_cr_line              39717 non-null object
inq_last_6mths                39717 non-null int64
open_acc                      39717 non-null int64
pub_rec                       39717 non-null int64
revol_bal                     39717 non-null int64
revol_util                    39667 non-null object
total_acc                     39717 non-null int64
initial_list_status           39717 non-null object
out_prncp                     39717 non-null float64
out_prncp_inv                 39717 non-null float64
total_pymnt                   39717 non-null float64
total_pymnt_inv               39717 non-null float64
total_rec_prncp               39717 non-null float64
total_rec_int                 39717 non-null float64
total_rec_late_fee            39717 non-null float64
recoveries                    39717 non-null float64
collection_recovery_fee       39717 non-null float64
last_pymnt_d                  39646 non-null object
last_pymnt_amnt               39717 non-null float64
last_credit_pull_d            39715 non-null object
collections_12_mths_ex_med    39661 non-null float64
policy_code                   39717 non-null int64
application_type              39717 non-null object
acc_now_delinq                39717 non-null int64
chargeoff_within_12_mths      39661 non-null float64
delinq_amnt                   39717 non-null int64
pub_rec_bankruptcies          39020 non-null float64
tax_liens                     39678 non-null float64
dtypes: float64(18), int64(13), object(22)
memory usage: 16.1+ MB

In [65]:
dfCust.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39717.000000,39661.0,39717.0,39717.0,39661.0,39717.0,39020.000000,39678.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,9.294408,0.055065,13382.528086,22.088828,51.227887,50.989768,12153.596544,11567.149118,9793.348813,2263.663172,1.363015,95.221624,12.406112,2678.826162,0.0,1.0,0.0,0.0,0.0,0.043260,0.0
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,4.400282,0.237200,15885.016641,11.401709,375.172839,373.824457,9042.040766,8942.672613,7065.522127,2608.111964,7.289979,688.744771,148.671593,4447.136012,0.0,0.0,0.0,0.0,0.0,0.204324,0.0
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,6.000000,0.000000,3703.000000,13.000000,0.000000,0.000000,5576.930000,5112.310000,4600.000000,662.180000,0.000000,0.000000,0.000000,218.680000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,9.000000,0.000000,8850.000000,20.000000,0.000000,0.000000,9899.640319,9287.150000,8000.000000,1348.910000,0.000000,0.000000,0.000000,546.140000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,12.000000,0.000000,17058.000000,29.000000,0.000000,0.000000,16534.433040,15798.810000,13653.260000,2833.400000,0.000000,0.000000,0.000000,3293.160000,0.0,1.0,0.0,0.0,0.0,0.000000,0.0
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,44.000000,4.000000,149588.000000,90.000000,6311.470000,6307.370000,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,0.0,1.0,0.0,0.0,0.0,2.000000,0.0

It looks like 'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt' & 'tax_liens' these column have same values either 0 or 1 let analyze the same.

In [69]:
dfCust[['collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens']].describe()

,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,tax_liens
count,39661.0,39717.0,39717.0,39661.0,39717.0,39678.0
mean,0.0,1.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,1.0,0.0,0.0,0.0,0.0
25%,0.0,1.0,0.0,0.0,0.0,0.0
50%,0.0,1.0,0.0,0.0,0.0,0.0
75%,0.0,1.0,0.0,0.0,0.0,0.0
max,0.0,1.0,0.0,0.0,0.0,0.0

In [70]:
dfCust[['collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens']].apply(pd.Series.value_counts)

,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,tax_liens
0.0,39661.0,NaN,39717.0,39661.0,39717.0,39678.0
1.0,NaN,39717.0,NaN,NaN,NaN,NaN

We can drop above mentioned colmuns also.

In [66]:
dfCust.drop(columns=dfCust.describe().columns).describe()

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,last_credit_pull_d,application_type
count,39717,39717,39717,39717,37258,38642,39717,39717,39717,39717,39717,39717,39717,39706,39717,39717,39717,39667,39717,39646,39715,39717
unique,2,371,7,35,28820,11,5,3,55,3,1,39717,14,19615,823,50,526,1089,1,101,106,1
top,36 months,10.99%,B,B3,US Army,10+ years,RENT,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt Consolidation,100xx,CA,Nov-98,0%,f,May-16,May-16,INDIVIDUAL
freq,29096,956,12020,2917,134,8879,18899,16921,2260,32950,39717,1,18641,2184,597,7099,370,977,39717,1256,10308,39717

Description of data frame for Categorical and Missing value columns.<br>
- **pymnt_plan** : Only one unique value **'1'** (All row contain same value) <br>
- **url** : All rows have different value so it will not help in any analysis. <br>
- **initial_list_status** : Only one unique value **'f'** (All row contain same value)  <br>
- **application_type** : Only one unique value **'INDIVIDUAL'** (All row contain same value)  <br>

So we can drop these 4 rows.

In [71]:
colsToDrop = ['collections_12_mths_ex_med','policy_code','acc_now_delinq','chargeoff_within_12_mths','delinq_amnt','tax_liens','pymnt_plan','url','initial_list_status','application_type']
dfCust.drop(columns=colsToDrop, inplace=True)
dfCust.shape

(39717, 43)

In [76]:
len(colsToDrop)

10

In [85]:
dfCust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 43 columns):
id                         39717 non-null int64
member_id                  39717 non-null int64
loan_amnt                  39717 non-null int64
funded_amnt                39717 non-null int64
funded_amnt_inv            39717 non-null float64
term                       39717 non-null object
int_rate                   39717 non-null object
installment                39717 non-null float64
grade                      39717 non-null object
sub_grade                  39717 non-null object
emp_title                  37258 non-null object
emp_length                 38642 non-null object
home_ownership             39717 non-null object
annual_inc                 39717 non-null float64
verification_status        39717 non-null object
issue_d                    39717 non-null object
loan_status                39717 non-null object
purpose                    39717 non-null object
title                      39706 non-null object
zip_code                   39717 non-null object
addr_state                 39717 non-null object
dti                        39717 non-null float64
delinq_2yrs                39717 non-null int64
earliest_cr_line           39717 non-null object
inq_last_6mths             39717 non-null int64
open_acc                   39717 non-null int64
pub_rec                    39717 non-null int64
revol_bal                  39717 non-null int64
revol_util                 39667 non-null object
total_acc                  39717 non-null int64
out_prncp                  39717 non-null float64
out_prncp_inv              39717 non-null float64
total_pymnt                39717 non-null float64
total_pymnt_inv            39717 non-null float64
total_rec_prncp            39717 non-null float64
total_rec_int              39717 non-null float64
total_rec_late_fee         39717 non-null float64
recoveries                 39717 non-null float64
collection_recovery_fee    39717 non-null float64
last_pymnt_d               39646 non-null object
last_pymnt_amnt            39717 non-null float64
last_credit_pull_d         39715 non-null object
pub_rec_bankruptcies       39020 non-null float64
dtypes: float64(15), int64(10), object(18)
memory usage: 13.0+ MB

In [80]:
dfCust.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

In [90]:
dfCust[dfCust.duplicated()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

In [91]:
dfCust[dfCust.duplicated(subset=dfCust.columns[2:])]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, pub_rec_bankruptcies]
Index: []

No dupliate data found.

In [94]:
dfCust.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687,9.40%,4,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,May-16,0.0

In [115]:
dfCust[(dfCust['loan_status'] != 'Charged Off') & (dfCust['recoveries'] == 0)]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies
0,1077501,1296599,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.00,Verified,Dec-11,Fully Paid,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.0,0.0,Jan-15,171.62,May-16,0.0
2,1077175,1313524,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.00,Not Verified,Dec-11,Fully Paid,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.0,0.0,Jun-14,649.91,May-16,0.0
3,1076863,1277178,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.00,Source Verified,Dec-11,Fully Paid,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598,21%,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.0,0.0,Jan-15,357.48,Apr-16,0.0
4,1075358,1311748,3000,3000,3000.00000,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.00,Source Verified,Dec-11,Current,other,Personal,972xx,OR,17.94,0,Jan-96,0,15,0,27783,53.90%,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.0,0.0,May-16,67.79,May-16,0.0
5,1075269,1311441,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.00,Source Verified,Dec-11,Fully Paid,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,Nov-04,3,9,0,7963,28.30%,12,0.00,0.00,5632.210000,5632.21,5000.00,632.21,0.00,0.0,0.0,Jan-15,161.03,Jan-16,0.0
6,1069639,1304742,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,RENT,47004.00,Not Verified,Dec-11,Fully Paid,debt_consolidation,Loan,280xx,NC,23.51,0,Jul-05,1,7,0,17726,85.60%,11,0.00,0.00,10110.840000,10110.84,6985.61,3125.23,0.00,0.0,0.0,May-16,1313.76,May-16,0.0
7,1072053,1288686,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,MKC Accounting,9 years,RENT,48000.00,Source Verified,Dec-11,Fully Paid,car,Car Downpayment,900xx,CA,5.35,0,Jan-07,2,4,0,8221,87.50%,4,0.00,0.00,3939.135294,3939.14,3000.00,939.14,0.00,0.0,0.0,Jan-15,111.34,Dec-14,0.0
10,1070078,1305201,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,Southwest Rural metro,5 years,OWN,72000.00,Not Verified,Dec-11,Fully Paid,debt_consolidation,High intrest Consolidation,853xx,AZ,16.12,0,Jan-98,2,14,0,4032,20.60%,23,0.00,0.00,7678.017673,7678.02,6500.00,1178.02,0.00,0.0,0.0,Jun-13,1655.54,Dec-15,0.0
11,1069908,1305008,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,UCLA,10+ years,OWN,75000.00,Source Verified,Dec-11,Fully Paid,debt_consolidation,Consolidation,913xx,CA,10.78,0,Oct-89,0,12,0,23336,67.10%,34,0.00,0.00,13947.989160,13947.99,12000.00,1947.99,0.00,0.0,0.0,Sep-13,6315.30,Aug-13,0.0
13,1069866,1304956,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,Target,3 years,RENT,15000.00,Source Verified,Dec-11,Fully Paid,credit_card,citicard fund,606xx,IL,12.56,0,Jul-03,2,11,0,7323,43.10%,11,0.00,0.00,3480.269999,3480.27,3000.00,480.27,0.00,0.0,0.0,Jan-15,102.43,May-16,0.0
15,1069759,1304871,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,Internal revenue Service,< 1 year,RENT,28000.00,Not Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation Loan,641xx,MO,20.31,0,Sep-07,1,11,0,6524,81.50%,23,0.00,0.00,1270.716942,1270.72,1000.00,270.72,0.00,0.0,0.0,Jan-15,36.32,May-16,0.0
16,1065775,1299699,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,Chin's Restaurant,4 years,RENT,42000.00,Not Verified,Dec-11,Fully Paid,home_improvement,Home,921xx,CA,18.60,0,Oct-98,2,14,0,24043,70.20%,28,0.00,0.00,12527.150000,12527.15,10000.00,2527.15,0.00,0.0,0.0,Jan-15,370.46,Apr-15,0.0
17,1069971,1304884,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,Duracell,10+ years,MORTGAGE,110000.00,Not Verified,Dec-11,Fully Paid,major_purchase,Holiday,067xx,CT,10.52,0,Aug-93,0,20,0,22836,16%,42,0.00,0.00,3785.271965,3785.27,3600.00,185.27,0.00,0.0,0.0,May-13,583.45,May-14,0.0
18,1062474,1294539,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,Connection Inspection,1 year,MORTGAGE,84000.00,Verified,Dec-11,Fully Paid,medical,Medical,890xx,UT,18.44,2,Oct-03,0,4,0,0,37.73%,14,0.00,0.00,7167.072893,7167.07,6000.00,1152.07,15.00,0.0,0.0,Feb-15,16.98,Jul-15,0.0
19,1069742,1304855,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,Network Interpreting Service,6 years,RENT,77385.19,Not Verified,Dec-11,Fully Paid,debt_consolidation,lowerratemeanseasiertogetoutofdebt!,921xx,CA,9.86,0,Jan-01,0,8,0,7314,23.10%,28,0.00,0.00,9460.000848,9460.00,9200.00,260.00,0.00,0.0,0.0,Jul-12,8061.10,Feb-16,0.0
20,1069740,1284848,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,Archdiocese of Galveston Houston,3 years,RENT,43370.00,Verified,Dec-11,Fully Paid,debt_consolidation,Freedom From Credit Cards,770xx,TX,26.53,0,Nov-97,3,8,0,17813,85.60%,22,0.00,0.00,27679.050000,25433.60,20250.00,7429.05,0.00,0.0,0.0,Aug-15,6024.09,Mar-16,0.0
22,1069710,1304821,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,Value Air,10+ years,OWN,50000.00,Source Verified,Dec-11,Fully Paid,credit_card,Credit Card Loan,799xx,TX,11.18,0,Jul-85,0,8,0,10056,82.40%,21,0.00,0.00,11907.350000,11907.35,10000.00,1907.35,0.00,0.0,0.0,Jan-15,349.21,May-16,0.0
23,1069700,1304810,10000,10000,10000.00000,36 months,11.71%,330.76,B,B3,Wells Fargo Bank,5 years,RENT,50000.00,Not Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation,917xx,CA,16.01,0,Apr-03,0,6,0,17800,91.80%,17,0.00,0.00,11540.891980,11540.89,10000.00,1540.89,0.00,0.0,0.0,Oct-13,4942.63,Mar-14,0.0
25,1069697,1273773,15000,15000,15000.00000,36 months,9.91%,483.38,B,B1,Winfield Pathology Consultants,2 years,MORTGAGE,92000.00,Verified,Dec-11,Fully Paid,credit_card,No more credit card debt!,605xx,IL,29.44,0,Feb-02,0,8,0,13707,93.90%,31,0.00,0.00,15823.999050,15824.00,15000.00,824.00,0.00,0.0,0.0,Sep-12,2447.05,Sep-12,0.0
28,1069799,1304678,4000,4000,4000.00000,36 months,11.71%,132.31,B,B3,Shands Hospital at the University of Fl,10+ years,MORTGAGE,106000.00,Not Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation,326xx,FL,5.63,1,Aug-84,0,12,0,6110,37.70%,44,0.00,0.00,4486.293519,4486.29,4000.00,486.29,0.00,0.0,0.0,Apr-13,2638.77,May-16,0.0
29,1047704,1278806,8500,8500,8500.00000,36 months,11.71%,281.15,B,B3,Oakridge homes,< 1 year,RENT,25000.00,Source Verified,Dec-11,Fully Paid,credit_card,Credit card repayment loan,564xx,MN,12.19,0,Nov-06,0,8,0,6441,59.10%,12,0.00,0.00,10126.088440,10126.09,8500.00,1626.09,0.00,0.0,0.0,Dec-14,581.59,Jan-15,0.0
30,1032111,1261745,4375,4375,4375.00000,36 months,7.51%,136.11,A,A3,NaN,7 years,MORTGAGE,17108.00,Source Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation,141xx,NY,20.34,0,Dec-87,0,6,0,11210,86.90%,12,0.00,0.00,4899.960000,4899.96,4375.00,524.96,0.00,0.0,0.0,Jan-15,144.94,Dec-14,0.0
31,1069539,1304608,31825,31825,31825.00000,36 months,7.90%,995.82,A,A4,Audubon Mutual Housing Corporation,5 years,MORTGAGE,75000.00,Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation Loan,080xx,NJ,14.03,0,Nov-81,0,12,0,23151,27.40%,26,0.00,0.00,34886.913780,34886.91,31825.00,3061.91,0.00,0.0,0.0,Aug-13,16966.70,Feb-16,0.0
32,1065420,1299514,10000,10000,9975.00000,60 months,15.96%,242.97,C,C5,US Legal Support,2 years,RENT,29120.00,Verified,Dec-11,Current,debt_consolidation,Brown Eyes Loan,330xx,FL,22.83,0,Feb-97,1,11,0,16158,63.60%,31,1849.10,1844.43,12594.240000,12562.85,8150.89,4443.35,0.00,0.0,0.0,May-16,242.97,Apr-16,0.0
33,1069591,1304289,5000,5000,5000.00000,36 months,8.90%,158.77,A,A5,Good Samaritan Society,2 years,RENT,24044.00,Verified,Dec-11,Fully Paid,debt_consolidation,Consolidation,974xx,OR,11.93,0,Apr-05,0,8,0,2224,29.30%,16,0.00,0.00,5715.560000,5715.56,5000.00,715.56,0.00,0.0,0.0,Jan-15,163.64,May-16,0.0
34,1069530,1291365,7000,7000,7000.00000,36 months,15.96%,245.97,C,C5,GREG BARRETT DRYWALL,7 years,RENT,34000.00,Source Verified,Dec-11,Fully Paid,credit_card,Credit Card Loan,934xx,CA,6.35,0,Oct-07,1,6,0,6113,60.50%,6,0.00,0.00,8854.510004,8854.51,7000.00,1854.51,0.00,0.0,0.0,Jan-15,260.74,Dec-14,0.0
35,1069522,1304589,12400,12400,12400.00000,36 months,10.65%,403.91,B,B2,Sharp Lawn Inc.,10+ years,RENT,41000.00,Not Verified,Dec-11,Fully Paid,credit_card,December 2011 Credit Card Loan,405xx,KY,11.80,0,Jul-05,2,9,0,11095,57.20%,12,0.00,0.00,14540.679990,14540.68,12400.00,2140.68,0.00,0.0,0.0,Jan-15,417.61,May-16,0.0
36,1069361,1304255,10800,10800,10800.00000,36 months,9.91%,348.03,B,B1,Department of Justice,2 years,RENT,55596.00,Source Verified,Dec-11,Fully Paid,moving,Moving to better job; help a veteran!,946xx,CA,5.50,0,Dec-00,0,7,0,2535,13.30%,18,0.00,0.00,12159.186870,12159.19,10800.00,1359.19,0.00,0.0,0.0,Nov-13,3483.79,Jan-16,0.0
37,1069357,1304251,15000,15000,15000.00000,36 months,7.90%,469.36,A,A4,Gateway Hospice,1 year,RENT,45000.00,Verified,Dec-11,Fully Paid,debt_consolidation,Debt Consolidation Loan,445xx,OH,8.48,0,Nov-04,0,7,0,6704,50.40%,27,0.00,0.00,16663.344030,16663.34,15000.00,1663.34,0.00,0.0,0.0,Jan-14,5872.80,May-16,0.0
38,1069356,1304250,6000,6000,6000.00000,36 months,12.42%,200.50,B,B4,Cox Communications,1 year,RENT,36852.00,Source Verified,Dec-11,Fully Paid,debt_consolidation,Credit Card Consolidation,850xx,AZ,10.62,0,Apr-07,1,7,0,7310,66.50%,12,0.00,0.00,7127.722011,7127.72,6000.00,1127.72,0.00,0.0,0.0,Apr-14,1923.53,May-16,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39686,111917,111912,6400,6400,4075.00000,36 months,9.64%,205.45,B,B4,"Stratagem, Inc.",1 year,RENT,60000.00,Not Verified,Aug-07,Fully Paid,moving,Moving from Madison to Dener for new job,535xx,WI,7.72,0,Apr-01,0,7,0,3362,69.30%,8,0.00,0.00,7395.962477,4709.15,6400.00,995.96,0.00,0.0,0.0,Aug-10,206.58,Jul-10,NaN
39687,111307,105982,12000,12000,2500.00000,36 months,12.49%,401.37,D,D3,ISO MERCHANT SERVICES,9 years,OWN,75000.00,Not Verified,Aug-07,Fully Paid,credit_card,refinancing credit cards,334xx,FL,15.00,0,Apr-95,3,9,0,43039,93.40%,24,0.00,0.00,14449.287980,3010.27,12000.00,2449.29,0.00,0.0,0.0,Jul-10,402.93,Jul-10,NaN
39689,109355,109346,1200,1200,0.00000,36 months,11.54%,39.60,C,C5,Eastland Park Hotel,< 1 year,RENT,20000.00,Not Verified,Jul-07,Fully Paid,credit_card,Bank of America- Blah!,041xx,ME,2.04,0,May-04,2,3,0,1153,75.80%,4,0.00,0.00,1425.370000,0.00,1200.00,225.37,0.00,0.0,0.0,Jul-10,39.45,Jul-10,NaN
39690,107136,107130,12250,12250,1525.00000,36 months,10.59%,398.69,C,C2,Zensah Company,3 years,RENT,60000.00,Not Verified,Jul-07,Fully Paid,small_business,Invest in Zensah Inventory,330xx,FL,17.12,1,Feb-69,2,10,0,17214,8.10%,24,0.00,0.00,13128.883620,1634.41,12250.00,878.88,0.00,0.0,0.0,Apr-08,9939.88,Jul-07,NaN
39691,106360,106333,2700,2700,550.00000,36 months,15.96%,94.88,F,F4,Turner Construction,1 year,RENT,52200.00,Not Verified,Jul-07,Fully Paid,debt_consolidation,Consolidation,021xx,MA,12.57,0,Aug-03,1,12,0,3075,92.30%,13,0.00,0.00,3415.389823,695.73,2700.00,715.39,0.00,0.0,0.0,Jul-10,96.40,Jul-10,NaN
39692,76597,76583,5000,5000,1775.00000,36 months,9.01%,159.03,B,B2,Ping Interactive,1 year,MORTGAGE,250000.00,Not Verified,Jul-07,Fully Paid,other,..and a Pony,100xx,NY,10.00,2,Apr-03,0,5,0,14354,36.60%,7,0.00,0.00,5725.016258,2032.38,5000.00,725.02,0.00,0.0,0.0,Jul-10,160.61,Jul-10,NaN
39693,106079,106039,3500,3500,1200.00000,36 months,9.96%,112.87,B,B5,UNIQUE ID WEB DESIGN,< 1 year,RENT,13500.00,Not Verified,Jul-07,Fully Paid,educational,Starving student needs means of living.,339xx,FL,16.44,0,Dec-02,1,10,0,2864,41.10%,16,0.00,0.00,3942.013096,1351.55,3500.00,442.01,0.00,0.0,0.0,Mar-09,1798.54,May-16,NaN
39694,90966,90962,5000,5000,4150.00000,36 months,7.43%,155.38,A,A2,Oracle Corporation,8 years,MORTGAGE,150000.00,Not Verified,Jul-07,Fully Paid,home_improvement,New kitchen,303xx,GA,0.00,0,Dec-87,0,2,0,6053,19.50%,19,0.00,0.00,5174.186842,4294.58,5000.00,174.19,0.00,0.0,0.0,Jan-08,4397.47,Jun-07,NaN
39695,92440,92423,5000,5000,3100.00000,36 months,7.43%,155.38,A,A2,MetraTech Corp,7 years,MORTGAGE,95000.00,Not Verified,Jul-07,Fully Paid,vacation,Mortgage Pre-Payment,017xx,MA,3.83,0,Jul-00,0,8,0,3660,6.80%,16,0.00,0.00,5593.631701,3468.05,5000.00,593.63,0.00,0.0,0.0,Jul-10,157.38,Jun-07,NaN
39696,102376,95212,25000,25000,525.00000,36 months,10.59%,813.65,C,C2,Institute for Mind/Body Research and Education,2 years,RENT,48000.00,Not Verified,Jul-07,Fully Paid,small_business,Recycling Plant in East Africa,113xx,NY,4.05,0,Jan-00,0,5,0,2422,23.30%,12,0.00,0.00,29269.955270,614.67,25000.00,4269.96,0.00,0.0,0.0,Jun-10,3.54,Jun-10,NaN
39697,101579,100083,10000,10000,400.00000,36 months,10.28%,323.98,C,C1,RoadNarrows Robotics,< 1 year,RENT,27376.00,Not Verified,Jul-07,Fully Paid,small_business,Web Design Business Expansion Loan,805xx,CO,10.70,0,Sep-03,0,4,0,3534,54.40%,4,0.00,0.00,11662.892190,466.52,10000.00,1662.89,0.00,0.0,0.0,Jul-10,328.93,Oct-10,NaN
39698,98982,98957,5000,5000,675.00000,36 months,9.01%,159.03,B,B2,Viget Labs,1 year,RENT,73000.00,Not Verified,Jul-07,Fully Paid,credit_card,Credit Cards,222xx,VA,9.96,0,Jan-99,0,21,0,23489,37.60%,28,0.00,0.00,5725.016258,772.88,5000.00,725.02,0.00,0.0,0.0,Jul-10,160.02,Jul-10,NaN
39699,98339,97572,5100,5100,575.00000,36 months,8.38%,160.72,A,A5,Northwestern School Corporation,4 years,RENT,32000.00,Not Verified,Jul-07,Fully Paid,vacation,Europe,469xx,IN,14.78,0,Jun-95,0,11,0,4737,23.90%,22,0.00,0.00,5779.031624,651.56,5100.00,679.03,0.00,0.0,0.0,Apr-10,638.15,Jun-07,NaN
39700,98276,98268,5400,5400,200.00000,36 months,7.75%,168.60,A,A3,NaN,< 1 year,RENT,8000.00,Not Verified,Jul-07,Fully Paid,educational,Help with college expenses,306xx,GA,3.00,0,Mar-89,0,4,0,1321,16.50%,4,0.00,0.00,6069.341452,224.80,5400.00,669.34,0.00,0.0,0.0,Jul-10,169.09,Dec-13,NaN
39701,96844,95222,5300,5300,600.00000,36 months,8.38%,167.02,A,A5,Peerless Pump Company,7 years,MORTGAGE,74000.00,Not Verified,Jul-07,Fully Paid,credit_card,Refinance for better rate,461xx,IN,14.37,0,Feb-92,0,15,0,6844,14.40%,29,0.00,0.00,6012.561053,680.67,5300.00,712.56,0.00,0.0,0.0,Jul-10,170.05,Jul-10,NaN
39702,96350,96338,5000,5000,850.00000,36 months,11.22%,164.23,C,C4,Self-employed,1 year,OWN,30000.00,Not Verified,Jul-07,Fully Paid,credit_card,Stupid credit cards!,314xx,GA,18.64,0,Apr-93,0,10,0,15840,47.10%,12,0.00,0.00,5912.052998,1005.05,5000.00,912.05,0.00,0.0,0.0,Jul-10,166.25,Oct-12,NaN
39703,94838,73673,3000,3000,2550.00000,36 months,10.28%,97.20,C,C1,Oracle,2 years,MORTGAGE,200000.00,Not Verified,Jul-07,Fully Paid,home_improvement,Roofdeck for my new NYC apartment,100xx,NY,0.00,1,Feb-97,0,5,0,0,0%,8,0.00,0.00,3498.858899,2974.03,3000.00,498.86,0.00,0.0,0.0,Jul-10,98.49,Feb-13,NaN
39704,93277,93254,3000,3000,950.00000,36 months,8.70%,94.98,B,B1,NaN,< 1 year,MORTGAGE,25000.00,Not Verified,Jul-07,Fully Paid,small_business,Home Based Bakery,017xx,MA,14.54,0,Sep-00,1,10,0,3660,7.80%,13,0.00,0.00,3419.144850,1082.73,3000.00,419.14,0.00,0.0,0.0,Jul-10,97.45,Jul-10,NaN
39705,93061,93057,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,MetraTech,8 years,MORTGAGE,120000.00,Not Verified,Jul-07,Fully Paid,debt_consolidation,My Loan,017xx,MA,2.29,0,Oct-97,0,8,0,8379,16.90%,16,0.00,0.00,5593.631701,279.69,5000.00,593.63,0.00,0.0,0.0,Jul-10,157.02,Jun-10,NaN
39706,92676,92671,5000,5000,150.00000,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,180000.00,Not Verified,Jul-07,Fully Paid,home_improvement,remodelin my kitchen,530xx,WI,5.55,0,Jun-96,0,12,0,40934,26.30%,39,0.00,0.00,5645.957239,169.38,5000.00,645.96,0.00,0.0,0.0,Jul-10,157.31,Jun-07,NaN
39707,92666,92661,5000,5000,525.00000,36 months,9.33%,159.77,B,B3,Stark and Roth Inc,2 years,MORTGAGE,180000.00,Not Verified,Jul-07,Fully Paid,home_improvement,home improvment loan,530xx,WI,11.93,0,Feb-95,1,16,0,60568,39.20%,38,0.00,0.00,5751.530533,603.91,5000.00,751.53,0.00,0.0,0.0,Jul-10,161.55,Jun-07,NaN
39708,92552,92542,5000,5000,375.00000,36 months,9.96%,161.25,B,B5,Millenium Group,4 years,MORTGAGE,48000.00,Not Verified,Jul-07,Fully Paid,debt_consolidation,Tito5000,333xx,FL,8.03,0,Aug-95,1,6,0,28329,48.60%,6,0.00,0.00,5804.732505,435.36,5000.00,804.73,0.00,0.0,0.0,Jul-10,162.07,Jun-10,NaN
39709,92533,92529,5000,5000,675.00000,36 months,11.22%,164.23,C,C4,Self-Employeed,< 1 year,OWN,80000.00,Not Verified,Jul-07,Fully Paid,credit_card,P's Family Credit Loan,537xx,WI,1.21,0,Jul-96,3,15,1,27185,16.10%,29,0.00,0.00,5912.052998,798.13,5000.00,912.05,0.00,0.0,0.0,Jul-10,165.17,Jun-07,NaN
39710,92507,92502,5000,5000,250.00000,36 months,7.43%,155.38,A,A2,Rush Univ Med Grp,1 year,OWN,85000.00,Not Verified,Jul-07,Fully Paid,credit_card,My Credit Card Loan,537xx,WI,0.31,0,Oct-97,0,7,0,216,0.60%,19,0.00,0.00,5593.626092,279.68,5000.00,593.63,0.00,0.0,0.0,Jul-10,156.29,Jun-07,NaN
39711,92402,92390,5000,5000,700.00000,36 months,8.70%,158.30,B,B1,"A. F. Wolfers, Inc.",5 years,MORTGAGE,75000.00,Not Verified,Jul-07,Fully Paid,credit_card,Reduce Credit Card Debt,804xx,CO,15.55,0,May-94,0,10,0,66033,23%,29,0.00,0.00,5698.603286,797.80,5000.00,698.60,0.00,0.0,0.0,Jul-10,159.83,Nov-14,NaN
39712,92187,92174,2500,2500,1075.00000,36 months,8.07%,78.42,A,A4,FiSite Research,4 years,MORTGAGE,110000.00,Not Verified,Jul-07,Fully Paid,home_improvement,Home Improvement,802xx,CO,11.33,0,Nov-90,0,13,0,7274,13.10%,40,0.00,0.00,2822.969293,1213.88,2500.00,322.97,0.00,0.0,0.0,Jul-10,80.90,Jun-10,NaN
39713,90665,90607,8500,8500,875.00000,36 months,10.28%,275.38,C,C1,"Squarewave Solutions, Ltd.",3 years,RENT,18000.00,Not Verified,Jul-07,Fully Paid,credit_card,Retiring credit card debt,274xx,NC,6.40,1,Dec-86,1,6,0,8847,26.90%,9,0.00,0.00,9913.491822,1020.51,8500.00,1413.49,0.00,0.0,0.0,Jul-10,281.94,Jul-10,NaN
39714,90395,90390,5000,5000,1325.00000,36 months,8.07%,156.84,A,A4,NaN,< 1 year,MORTGAGE,100000.00,Not Verified,Jul-07,Fully Paid,debt_consolidation,MBA Loan Consolidation,017xx,MA,2.30,0,Oct-98,0,11,0,9698,19.40%,20,0.00,0.00,5272.161128,1397.12,5000.00,272.16,0.00,0.0,0.0,Apr-08,0.00,Jun-07,NaN
39715,90376,89243,5000,5000,650.00000,36 months,7.43%,155.38,A,A2,NaN,< 1 year,MORTGAGE,200000.00,Not Verified,Jul-07,Fully Paid,other,JAL Loan,208xx,MD,3.72,0,Nov-88,0,17,0,85607,0.70%,26,0.00,0.00,5174.198551,672.66,5000.00,174.20,0.00,0.0,0.0,Jan-08,0.00,Jun-07,NaN
39716,87023,86999,7500,7500,800.00000,36 months,13.75%,255.43,E,E2,Evergreen Center,< 1 year,OWN,22000.00,Not Verified,Jun-07,Fully Paid,debt_consolidation,Consolidation Loan,027xx,MA,14.29,1,Oct-03,0,7,0,4175,51.50%,8,0.00,0.00,9195.263334,980.83,7500.00,1695.26,0.00,0.0,0.0,Jun-10,256.59,Jun-10,NaN