<center><h1>Customer Acquisition : Credit Card Business</h1></center>

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
demo_graph_df = pd.read_csv("Demographic data.csv")
credit_bureau_df = pd.read_csv("Credit Bureau data.csv")

In [7]:
demo_graph_df.head()

,Application ID,Age,Gender,Marital Status (at the time of application),No of dependents,Income,Education,Profession,Type of residence,No of months in current residence,No of months in current company,Performance Tag
0,954457215,48,F,Married,2.0,40.0,Bachelor,SAL,Rented,113,56,0.0
1,432830445,31,M,Married,4.0,55.0,Professional,SE_PROF,Rented,112,46,0.0
2,941387308,32,M,Single,2.0,46.0,Bachelor,SE_PROF,Rented,104,49,0.0
3,392161677,43,M,Married,1.0,53.0,Bachelor,SE,Rented,94,53,0.0
4,182011211,35,F,Married,5.0,44.0,Professional,SAL,Rented,112,43,0.0

In [8]:
credit_bureau_df.head()

,Application ID,No of times 90 DPD or worse in last 6 months,No of times 60 DPD or worse in last 6 months,No of times 30 DPD or worse in last 6 months,No of times 90 DPD or worse in last 12 months,No of times 60 DPD or worse in last 12 months,No of times 30 DPD or worse in last 12 months,Avgas CC Utilization in last 12 months,No of trades opened in last 6 months,No of trades opened in last 12 months,No of PL trades opened in last 6 months,No of PL trades opened in last 12 months,No of Inquiries in last 6 months (excluding home & auto loans),No of Inquiries in last 12 months (excluding home & auto loans),Presence of open home loan,Outstanding Balance,Total No of Trades,Presence of open auto loan,Performance Tag
0,954457215,0,0,0,0,0,0,4.0,1.0,2,0,0,0,0,1.0,2999395.0,4,0,0.0
1,432830445,0,0,0,0,0,0,3.0,1.0,2,0,0,0,0,0.0,3078.0,5,0,0.0
2,941387308,0,0,0,0,0,0,7.0,0.0,0,0,0,0,0,1.0,3004972.0,2,0,0.0
3,392161677,0,0,0,0,0,0,11.0,1.0,1,0,0,0,0,1.0,3355373.0,4,1,0.0
4,182011211,0,0,0,0,0,0,12.0,0.0,1,0,0,0,0,1.0,3014283.0,4,0,0.0

In [9]:
print(credit_bureau_df.shape)
credit_bureau_df.info()

(71295, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71295 entries, 0 to 71294
Data columns (total 19 columns):
Application ID                                                     71295 non-null int64
No of times 90 DPD or worse in last 6 months                       71295 non-null int64
No of times 60 DPD or worse in last 6 months                       71295 non-null int64
No of times 30 DPD or worse in last 6 months                       71295 non-null int64
No of times 90 DPD or worse in last 12 months                      71295 non-null int64
No of times 60 DPD or worse in last 12 months                      71295 non-null int64
No of times 30 DPD or worse in last 12 months                      71295 non-null int64
Avgas CC Utilization in last 12 months                             70237 non-null float64
No of trades opened in last 6 months                               71294 non-null float64
No of trades opened in last 12 months                              71295 non-null int64
No of PL trades opened in last 6 months                            71295 non-null int64
No of PL trades opened in last 12 months                           71295 non-null int64
No of Inquiries in last 6 months (excluding home & auto loans)     71295 non-null int64
No of Inquiries in last 12 months (excluding home & auto loans)    71295 non-null int64
Presence of open home loan                                         71023 non-null float64
Outstanding Balance                                                71023 non-null float64
Total No of Trades                                                 71295 non-null int64
Presence of open auto loan                                         71295 non-null int64
Performance Tag                                                    69870 non-null float64
dtypes: float64(5), int64(14)
memory usage: 10.3 MB

In [10]:
print(demo_graph_df.shape)
demo_graph_df.info()

(71295, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71295 entries, 0 to 71294
Data columns (total 12 columns):
Application ID                                 71295 non-null int64
Age                                            71295 non-null int64
Gender                                         71293 non-null object
Marital Status (at the time of application)    71289 non-null object
No of dependents                               71292 non-null float64
Income                                         71295 non-null float64
Education                                      71176 non-null object
Profession                                     71281 non-null object
Type of residence                              71287 non-null object
No of months in current residence              71295 non-null int64
No of months in current company                71295 non-null int64
Performance Tag                                69870 non-null float64
dtypes: float64(3), int64(4), object(5)
memory usage: 6.5+ MB

In [46]:
credit_bureau_df.isnull().sum() / credit_bureau_df.index.size * 100

Application ID                                                     0.000000
No of times 90 DPD or worse in last 6 months                       0.000000
No of times 60 DPD or worse in last 6 months                       0.000000
No of times 30 DPD or worse in last 6 months                       0.000000
No of times 90 DPD or worse in last 12 months                      0.000000
No of times 60 DPD or worse in last 12 months                      0.000000
No of times 30 DPD or worse in last 12 months                      0.000000
Avgas CC Utilization in last 12 months                             1.483975
No of trades opened in last 6 months                               0.001403
No of trades opened in last 12 months                              0.000000
No of PL trades opened in last 6 months                            0.000000
No of PL trades opened in last 12 months                           0.000000
No of Inquiries in last 6 months (excluding home & auto loans)     0.000000
No of Inquiries in last 12 months (excluding home & auto loans)    0.000000
Presence of open home loan                                         0.381513
Outstanding Balance                                                0.381513
Total No of Trades                                                 0.000000
Presence of open auto loan                                         0.000000
Performance Tag                                                    1.998738
dtype: float64

In [47]:
demo_graph_df.isnull().sum() / demo_graph_df.index.size * 100

Application ID                                 0.000000
Age                                            0.000000
Gender                                         0.002805
Marital Status (at the time of application)    0.008416
No of dependents                               0.004208
Income                                         0.000000
Education                                      0.166912
Profession                                     0.019637
Type of residence                              0.011221
No of months in current residence              0.000000
No of months in current company                0.000000
Performance Tag                                1.998738
dtype: float64

**2%** missing values in **Performance Tag** which is out target/dependend variable.<BR>
We should not impute data for traget variable, so let's drop these rows.

In [62]:
demo_graph_df = demo_graph_df[~demo_graph_df['Performance Tag'].isnull()]
credit_bureau_df = credit_bureau_df[~credit_bureau_df['Performance Tag'].isnull()]

In [72]:
demo_graph_df.isnull().sum()

Application ID                                 0
Age                                            0
Gender                                         0
Marital Status (at the time of application)    0
No of dependents                               0
Income                                         0
Education                                      0
Profession                                     0
Type of residence                              0
No of months in current residence              0
No of months in current company                0
Performance Tag                                0
dtype: int64

**118** missing values in Education column which is approx **0.17%**.

In [64]:
demo_graph_df['Education'].value_counts()

Professional    24386
Masters         23481
Bachelor        17302
Phd              4464
Others            119
Name: Education, dtype: int64

We can either drop records with missing education detail or can impute value 'Others'.<BR>
Let's impute 'Others' value instead of dropping records.

In [65]:
demo_graph_df['Education'] = demo_graph_df['Education'].fillna(value='Others')

Will drop other missing value rows.

In [66]:
demo_graph_df.dropna(inplace=True)

In [75]:
credit_bureau_df.isnull().sum()

Application ID                                                     0
No of times 90 DPD or worse in last 6 months                       0
No of times 60 DPD or worse in last 6 months                       0
No of times 30 DPD or worse in last 6 months                       0
No of times 90 DPD or worse in last 12 months                      0
No of times 60 DPD or worse in last 12 months                      0
No of times 30 DPD or worse in last 12 months                      0
Avgas CC Utilization in last 12 months                             0
No of trades opened in last 6 months                               0
No of trades opened in last 12 months                              0
No of PL trades opened in last 6 months                            0
No of PL trades opened in last 12 months                           0
No of Inquiries in last 6 months (excluding home & auto loans)     0
No of Inquiries in last 12 months (excluding home & auto loans)    0
Presence of open home loan                                         0
Outstanding Balance                                                0
Total No of Trades                                                 0
Presence of open auto loan                                         0
Performance Tag                                                    0
dtype: int64

In [ ]:
appId = credit_bureau_df[(credit_bureau_df['Outstanding Balance'].isnull()) & (credit_bureau_df['Performance Tag'] == 1)]['Application ID']
credit_bureau_df[(credit_bureau_df['Outstanding Balance'].isnull()) & (credit_bureau_df['Performance Tag'] == 1)]

In [ ]:
credit_bureau_df[(credit_bureau_df['Outstanding Balance'].isnull())].describe()

**Average credit card utilization** is null menas no credit card issued to that customer so we can replace null with Zero.<BR>
Same case with **Presence of open home loan** & **Outstanding Balance**.

In [74]:
credit_bureau_df = credit_bureau_df.fillna(value=0)